body {
    margin: 0;
    background: rgb(255, 232, 235);
    user-select: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
    background-color:  rgb(255, 230, 230);
}

input {
    background-color:  rgb(255, 230, 230);
    border-radius: 5px;
    text-align: center;
}

.banner {
    height: 40vh;
    width: 100%;
    object-fit: fill;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: lightpink;
    padding-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu ul {
    display: flex;
    margin: 0;
    padding: 0;    
}
.menu ul li {
    background-color: lightpink;
    border-radius: 15px;
    border: 5px solid lightpink;
    animation-name: change;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}
.menu ul li:last-child {
    margin-right: 0px;
}
.menu ul li:hover{
    color: grey;
    border-radius: 10px;
    border: 5px solid rgb(248, 144, 196);
    letter-spacing: 2px;
    animation: none;
}
.menu a {
    color: gray;
    font-size: larger;
    text-align: center;
    line-height: 30px;
    margin-right: 2px;
    width: 100%;
}

@keyframes change {
    from {background-color: pink; color: darkgray;}
    to {background-color: lightpink; color: gray;}
}

.danh_muc {
    margin-top: 0;
    border-radius: 5px;
    height: 100%;
}
.danh_muc ul {
    margin: 0;
    padding: 0;    
}
.danh_muc ul li {
    background-color: rgb(245, 160, 235);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 15px;
    border: 2px solid whitesmoke;
    height: 100%;
}
.danh_muc ul li:hover{
    letter-spacing: 1px;
}
.danh_muc a {
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 150, 200);
    font-size: large;
    font-style: italic;
    text-align: center;
    line-height: 30px;
    margin-right: 2px;
    width: 100%;
}

.phan_trang a {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: blue;
}
.phan_trang a:hover {
    color: red;
}

.chi_muc {
    background: rgb(255, 150, 200);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    height: auto;
}
.chi_muc_bang {
    background: pink;
    border: 0px solid pink;
    border-collapse: collapse; 
    border-top: none;
    border-spacing: 0;
    line-height: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.chi_muc_bang_chi_tiet {
    border-radius: 0px;
    text-align: center;
    background: pink;
    border: 0px solid pink;
    border-collapse: collapse; 
    border-top: none;
    border-spacing: 0;
    line-height: 20px;
}

.bang_gio_hang {
    background: pink;
    border: 2px solid hotpink; 
    width: 98%;
    line-height: 20px;
    border-radius: 10px;
}

.nut_submit {
    background: rgb(255, 150, 200);
    color: white;
    border-radius: 5px;
    border: 1px solid black;
}
.nut_submit:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgb(255, 152, 152);
    letter-spacing: 1px;
}

.required label:after {
    color: none;
    content: '(';
    color: red;
    content: '*';
    display: inline;
}